.App{
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgrey;
  text-align: center;
  justify-content: space-around;
  height: 100vh;
}

.MainMenu__Logo{
  background-color: white;
  padding: 100px;
  display: block;
  width: 50%;
  margin: 0 auto;
}